server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/user_db
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    change-log: db/changelog/changelog-master.xml
    enabled: true

jwt:
  secret: supersecretkeysupersecretkeysupersecretkey
  expiration: 3600000